contact {
  ul {
    list-style: none;

    li {
      margin: 0.82em 0;

      a{
        @include basic-position();
        padding: 0.4em 0;
        padding-right: 1.5em;

        &::before{
          content: " ";
          display: block;
          position: absolute;
          top: 0.55em;
          right: 0;
          height: 1em;
          width: 1em;
        }
        &.email::before{
          background: url(/assets/images/contact/389-mail2.svg) no-repeat;
        }
        &.phone::before{
          background: url(/assets/images/contact/067-phone.svg) no-repeat;
        }
        &.facebook::before{
          background: url(/assets/images/contact/401-facebook.svg) no-repeat;
        }
      }
    }
  }
}
