.page.creative {
  display: flex;
  align-content: stretch;

  aside {
    min-width: 25%;
  }
  ul {
    list-style-type: none;

    a {
      cursor: pointer;
    }
  }

  .song-intro {
    font-size: 0.9em;
    margin-bottom: 0.7em;
  }

  .song-title {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .song-words {
    font-style: italic;
    &.center {
      text-align: center;
    }
  }
  .content-end {
    letter-spacing: 0.2em;
    font-weight: bold;
    text-align: center;
  }
}
