// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

home {
  ul {
    li {
      @extend .highlight;
    }
  }

  figure {
    display: block;
    text-align: center;
    figcaption a {
      font-size: 2em;
    }
  }
}
