.page.book {

  p {
    margin: 0 0 2em;
  }

  .book-highlight {
    color: #bb00bb;
    font-weight: 600;
  }
  .book-highlight.green {
    color: #00bbbb;
    font-weight: 600;
  }
  .book-highlight.start {
    color: #007777;
    font-weight: 600;
  }

}
