<section class="page creative">
    <aside>
      <div class="hidden-xs">
        <div>שירים</div>
        <ul class="content-list">
          <li *ngFor="let song of songs()" (click)="onSelect(song)" [class.selected]="song.id===selectedContent.id">
            <a>{{song.name}}</a>
          </li>
        </ul>
        <div>סיפורים</div>
        <ul class="content-list">
          <li *ngFor="let story of stories()" (click)="onSelect(story)" [class.selected]="story.id===selectedContent.id">
            <a>{{story.name}}</a>
          </li>
        </ul>
        <div>קטעים</div>
        <ul class="content-list">
          <li *ngFor="let short of shorts()" (click)="onSelect(short)" [class.selected]="short.id===selectedContent.id">
            <a>{{short.name}}</a>
          </li>
        </ul>
      </div>
      <div class="visible-xs">
        <select [(ngModel)]="currentId" name="contentSelect">
          <option *ngFor="let song of songs()" (click)="onSelect(song)" [class.selected]="song.id===currentId" [value]="song.id">
            {{song.name}}
          </option>
          <option *ngFor="let story of stories()" (click)="onSelect(story)" [class.selected]="story.id===currentId" [value]="story.id">
            {{story.name}}
          </option>
        </select>
      </div>
    </aside>
    <div *ngIf='currentId!==""'>
      <div class="song-intro">{{selectedContent.intro}}</div>
      <div [ngClass]="{'song-title': true, 'center': selectedContent.type=='song'}">{{selectedContent.name}}</div>
      <div [ngClass]="{'song-words': true, 'center': selectedContent.type=='song'}" [innerHTML]="selectedContent.words | safe: 'html'"></div>
      <br />
      <div class="content-end">*************************</div>
    </div>
  </section>
