.main-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 1.14em;
  top: 0;
  left: 0;
  padding: 1em 1.7em;

  &::before {
    content: " ";
    position: absolute;
    opacity: 0.65;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    top: 0em;
    left: 0em;
    background: white;
    z-index: -1;
  }
  &>aside {
    width: 100%;
  }

}

@media #{map-get($breakpoints,medium)} {
  .main-container {
    flex-wrap: nowrap;

    font-size: 1.48em;
    padding: 2.3em 0.7em;

    router-outlet + * {
      flex-grow: 1;
    }
    &>aside {
      min-width: 22%;
      max-width: 22%;
      padding: 0.7em;
      border-right: 1px solid $brand-color2;
      margin: 0 0.7em 0.5em 0;
    }

  }
}
