// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer{
  background: #333;
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: inherit;

  a {
    color: lighten($brand-color2, 50%);
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    top: 0;
    right: 0;

    &:hover {
      color: lighten($brand-color2, 60%);
    }

    &.facebook::before {
      background: url(/assets/images/contact/facebook-full.svg) no-repeat;
      background-size: contain;
    }
    &.phone::before {
      //background: url(/assets/images/contact/phone-w.svg) no-repeat white;
    }
    &.email::before {
      //background: url(/assets/images/contact/mail-w.svg) no-repeat white;
    }
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0.1em;
      right: -1.3em;
      height: 1em;
      width: 1em;
    }

  }
}
