// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

md-toolbar ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

md-toolbar li {
  display: inline;
}

md-toolbar li.active {
  background-color: lightgray;
}

/**
 * Styles for bootstrap based header
 */
header {

  div.navbar {
    background: $brand-color2;
    border-color: lighten($brand-color2, 6%);
    padding-right: 7em;
    .app-rtl & {
      padding-left: 7em;
      padding-right: initial;
    }
  }

  .navbar-default .navbar-nav {
    padding-right: 0;
    &>li {
    a {
      color: $text-color;
      font-size: 1.7em;
      padding-top: 0.6em;
      padding-bottom: 1.5em;
      transition: all 0.4s;

      background-size: 100%;
      position: relative;
      z-index: 100;

        &:before {
         background: linear-gradient(to bottom, darken($brand-color2, 25%) 50%, $header-bg 85%);
         content: '';
         display: block;
         height: 100%;
         position: absolute;
         top: 0; left: 0;
         transition: all 0.4s;
         opacity: 0;
         width: 100%;
         z-index: -100;
       }
       &:focus,
       &:hover {
        &:before {
          opacity: 1;
        }
      }

      &.active,
      &:focus,
      &:hover {
        color: lighten($text-color, 75%);
      }
      &.active,
      &:focus {
        //font-weight: bold;
      }

      &.active {
        background: linear-gradient(to bottom, darken($brand-color2, 35%) 50%, $header-bg 85%);
        //background: darken($brand-color2, 35%);
      }
    }
}
  }

  .navbar-brand {
    color: $brand-color;
    font: normal normal bold normal 5em / normal pfennig, arial;
    height: 3em;
    line-height: 1.3em;
    width: 100%;

    img {
      height: 100%;
      width: auto;
      float: right;
    }
    #site-name {
      float: right;

      div {
        display: inline-block;
        font-size: 0.6em;
        line-height: 0.8em;
      }
    }
  }
  .navbar-toggle {
    padding: 1em;
    margin: 2em 1.2em;
  }

}

@media #{map-get($breakpoints,large)} {
  header .navbar {
    .navbar-nav {
      &>li {
        a {
          padding-top: 1.2em;
          padding-bottom: 5.8em;
        }
      }
    }
  }
}
